*{
    margin: 0px;
    padding:0px;
    font-family: 'Rubik', sans-serif;
    color: white;
}

body{
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}
/* Secciones */

#section-one {
    height:100vh;
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}

#section-three {
    display: none;
    height:100vh;
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}

#section-four {
    display: none;
    height:100vh;
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}

#section-five {
    display: none;
    height:100vh;
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}

#section-six {
    display: none;
    height:100vh;
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}

#section-seven{
    display: none;
    height:100vh;
}

.titulo {
    font-size: 6em;
    font-weight: 700;
}

.btn-play{
    background-color: #7F00FF;
    border-color: #7F00FF;
    box-shadow: 4px 4px 4px rgba(127, 0, 255, 0.5);
    border-radius: .4em;
    font-size: 1.7em;
    font-weight: 600;
    width: 150px;
    height: 60px;
    color: white;
}

.btn-play:hover{
    background-color: white;
    color: #7F00FF;
}

#section-two {
    display: none;
    height:100vh;
}

.text-name{
    font-size: 4.7em;
    font-weight: 600;
}

.btn-go{
    font-weight: 600;
    background-color: #7F00FF;
    border-color: #7F00FF;
    color: white;
}

.btn-go:hover{
    background-color: white;
    color: #7F00FF;
    
}



.btn-section-three{
    background-color: #7F00FF;
    border-color: white;
    border-radius: .4em;
    font-weight: 600;
    width: 250px;
    height: 70px;
}

.txt-dificultad{
    font-size: 4.7em;
    font-weight: 600;
}

.btn-section-three:hover{
    background-color: white;
    border-color: #7F00FF;
    color: #7F00FF;
}

#RookieDiez{
    display: none;
}

#RookieOnce{
    display: none;
}

#RookieDoce{
    display: none;
}

.links-footer{
    color: #00FFFF;
}

.links-footer:hover{
    color:#00FFFF;
}

.intentos{
    background-color: #420316;
    border-color: white;
    border-radius: .4em;
   padding: 5px;
   width: 400px ;
}



.menu {
    background-color: #0f003a;
    border-color: white;
    border-radius: .4em;
   padding: 5px;
}

.pistas {
    background-color: #8b8796;
    opacity: 10%;
    border-color: white;
    border-radius: .4em;
   padding: 5px;
   pointer-events: none;

}

.menu:hover{
    background-color: #341194;
    transform: scale(1.1);

}


.nav {
    padding-top: 5px;
    display: none;

    
}