*{
    margin: 0px;
    padding:0px;
    font-family: 'Rubik', sans-serif;
    color: white;
}

body{
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}
/* Secciones */

#section-one {
    height:100vh;
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}

#section-three {
    display: none;
    height:100vh;
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}

#section-four {
    display: none;
    height:100vh;
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}

#section-five {
    display: none;
    height:100vh;
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}

#section-six {
    display: none;
    height:100vh;
    background-color: #110C31;
    background-image: url(img/bg-particle.svg);
}

#section-seven{
    display: none;
    height:100vh;
}

.titulo {
    font-size: 6em;
    font-weight: 700;
}

.btn-play{
    background-color: #7F00FF;
    border-color: #7F00FF;
    box-shadow: 4px 4px 4px rgba(127, 0, 255, 0.5);
    border-radius: .4em;
    font-size: 1.7em;
    font-weight: 600;
    width: 150px;
    height: 60px;
    color: white;
}

.btn-play:hover{
    background-color: white;
    color: #7F00FF;
}

#section-two {
    display: none;
    height:100vh;
}

.text-name{
    font-size: 4.7em;
    font-weight: 600;
}

.btn-go{
    font-weight: 600;
    background-color: #7F00FF;
    border-color: #7F00FF;
    color: white;
}

.btn-go:hover{
    background-color: white;
    color: #7F00FF;
    
}



.btn-section-three{
    background-color: #7F00FF;
    border-color: white;
    border-radius: .4em;
    font-weight: 600;
    width: 250px;
    height: 70px;
}

.txt-dificultad{
    font-size: 4.7em;
    font-weight: 600;
}

.btn-section-three:hover{
    background-color: white;
    border-color: #7F00FF;
    color: #7F00FF;
}

#RookieDiez{
    display: none;
}

#RookieOnce{
    display: none;
}

#RookieDoce{
    display: none;
}

.links-footer{
    color: #00FFFF;
}

.links-footer:hover{
    color:#00FFFF;
}

/* MODAL */

.contenedor-ventana-modal{
	/* Alto y largo de toda la pantalla */
	width: 100vw;
	height: 100vh;
	/* Negro con opacidad de 0.5 */
	background: rgba(0,0,0, .5);
	/* Posición fija para que aparezca por encima */
	position: fixed;
	left: 0;
	top: 0;
	/* Centrado de la modal */
	display: flex;
	align-items: center;
	justify-content: center;
}

.oculta{
	display: none;
}

.ventana{
    bottom: 170px;
	width: 300px;
	border-radius: 5px;
	padding: 30px;
	background: white;
	/* Posición relativa, para usar la posición absoluta adentro */
	position: relative;
}

.ventana__cruz{
	cursor: pointer;
	/* En relación a ventana, que tiene posición absolute */
	position: absolute;
	right: 10px;
	top: 10px;
    color: #7F00FF;
}

.btn-modal{
    background-color: white;
    border-color: #7F00FF;
    color: #7F00FF;
    border-radius: .4em;
    font-weight: 600;
    width: 150px;
}

.btn-modal:hover{
    background-color: #7F00FF;
    border-color: white;
    color: white;
}

.ventana__titulo{
    color: #7F00FF;
}